{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des produit {% endblock %}

{% block contenu %}

    <h1>Liste des produits</h1>

    <table class=\"table table-striped\">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.id }}</td>
                    <td>{{ produit.titre }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan=\"5\">Aucun produit trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}