{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier un utilisateur {% endblock %}
{% block contenu %}
<h1>Modifier un utilisateur</h1>
{% if form.utilisateur is defined %}
{% if form.utilisateur != null %}
<form class="form-signin" method="post" enctype="application/x-www-form-urlencoded">
<h1 class="h3 mb-3 font-weight-normal">Modifier un utilisateur</h1>
<label for="inputPassword" class="sr-only"> Modifier le mot de passe:</label>
<input type="password" id="inputPassword" name="inputPassword" class="form-control" place-
holder="Modifier le mot de passe:" required>
<label for="inputPassword2" class="sr-only">Confirmer le mot de passe à modifier: </label>
<input type="password" id="inputPassword2" name="inputPassword2" class="form-control"
placeholder="Confirmation mot de passe" required>
<label for="nom" class="sr-only">Nom:</label>
<input type="text" id="nom" name="nom" class="form-control" placeholder="Nom" value="{{form.utilisateur.nom}}" required>
<label for="prenom" class="sr-only">Prénom:</label>
<input type="prenom" id="prenom" name="prenom" class="form-control" placeholder="Prénom" value="{{form.utilisateur.prenom}}" required>
<label for="inputEmail" class="sr-only">Adresse email:</label>
<input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Adresse email:" value="{{form.utilisateur.email}}" required autofocus>
<input type="hidden" name="id" value="{{ form.utilisateur.id}}"/>
<button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
</form>
{% else %}
<h2 class="alert alert-danger" role="alert">{{ form.message }}</h2>
<a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a>
{% endif %}
{% else %}
<h2 class="alert alert-success" role="alert">{{ form.message }}</h2>
<a href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a>
{% endif %}
{% endblock %}